<!--<div class="col-md-2 text-right">-->
      <%= link_to 'Templates', mail_templates_path, class:"btn btn-primary btn-sm" %>
<!--</div>-->
<%= form_tag(send_path) do %>
  <h2>Select template</h2>
  <ul class="list-group radio-list-box">
  <%= collection_radio_buttons(:mail, :mail_Template_id, Bulky::MailTemplate.all, :id, :name) do |b| %>
  <li class="list-group-item radio cs-pointer"><%= b.radio_button + b.text  %>
  </li>  
  
  <% end %>
  </ul>
  <h2>Enter Subject of Mail</h2>
  
  <%= text_field_tag :subject, nil,{required: true,class:'form-control',rows: 5,columns: 10,style:'width:50%;'} %>
  
  <h2>Select Users</h2>
  <!--<br>-->
  <ul class="list-group checked-list-box">
  <%= collection_check_boxes(:mail, :user_ids, User.all, :id, :email) do |b| %>
    <li class="list-group-item checkbox cs-pointer"><span class="fa fa-square-o pr-xs"></span><%= b.check_box + b.text  %> </li>
    <% end %>
  </ul>  

  <%= submit_tag "Send", class:"btn btn-primary btn-sm" %>    
<% end %>  
