<!DOCTYPE html>
<html>
<head>
  <title>Bulky</title>
  <%= stylesheet_link_tag    "bulky/application", media: "all" %>
  <%= javascript_include_tag "bulky/application" %>
  <%= tinymce_assets %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Include Editor style. -->
  <!--<link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/css/froala_editor.min.css' rel='stylesheet' type='text/css' />-->
  <!--<link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/css/froala_style.min.css' rel='stylesheet' type='text/css' />-->
   
  <!-- Include JS file. -->
  <!--<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/js/froala_editor.min.js'></script>-->
  <%= csrf_meta_tags %>
</head>
<body>
  <%= alert || notice %>

<%= yield %>

</body>
</html>
